<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/LayoutPadrao}">

    <head>
        <title>MontreFat</title>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="page-header">
                <div class="container-fluid">
                    <h1>Bem-vindo<p>&nbsp</p><span th:inline="text">[[${usuario.nome}]]</span>!</h1>
                </div>
            </div>
            <div class="container-fluid">
                <input hidden type="text" id="msgErro" th:value="${msgErro}" />
                <div style="display: none;" class="pop-outer">
                    <div class="pop-inner">
                        <button class="close">X</button>
                        <h1><span th:inline="text">[[${msgErro}]]</span></h1>
                    </div>
                </div>
            </div>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
            <script>
                var erro = document.getElementById('msgErro');

                if(erro.value != ""){
                    $(".pop-outer").fadeIn("slow");
                }

                $(document).ready(function (){
                    $(".close").click(function (){
                        $(".pop-outer").fadeOut("slow");
                    });
                    $(".pop-outer").click(function (){
                        $(".pop-outer").fadeOut("slow");
                    });
                });
            </script>
        </section>
    </body>
</html>