<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/LayoutPadrao}">

    <head>
        <title>Notas realizadas</title>
        <script>
            document.getElementById("overlay").classList.remove("invisible");
            document.getElementById("loads").classList.remove("invisible");
        </script>
    </head>

    <body>


        <section layout:fragment="conteudo">
            <div id="overlay" class="invisible"></div>
            <div id="loads" class="lds-css ng-scope invisible">
                <div class="lds-rolling load">
                    <div></div>
                </div>
            </div>
            <div class="page-header">
                <div class="container-fluid">
                    <h1>Notas realizadas</h1>
                </div>
            </div>
            <div class="container-fluid">
                <div th:each="arrayCadastroNota, iter : ${arrayCadastroNotas}">
                    <div id="results">
                        <span class="label" th:text="${dataRealizacoes[iter.index]}"></span>
                    </div>           
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Numero do chamado</th>
                                <th class="text-center">Contrato</th>
                                <th class="text-center">Visualizar</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr th:each="cadastroNota : ${arrayCadastroNota}">
                                <td><span th:text="${cadastroNota.id}"></span></td>
                                <td><span th:text="${cadastroNota.numChamado}"></span></td>
                                <td><span th:text="${cadastroNota.contrato}"></span></td>
                                <td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('NRC#visualizarNotaRealizada').arg(0, cadastroNota.id)).build()}"><i class="material-icons left"><span class="glyphicon glyphicon-eye-open text-warning"></span></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </body>
    <footer>
        <script>
            document.getElementById("overlay").classList.add("invisible");
            document.getElementById("loads").classList.add("invisible");
        </script>
    </footer>
</html>