<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/LayoutPadrao}">

<head>
    <title>Visualizar processos realizados</title>
</head>

<body>
    <section layout:fragment="conteudo">
        <form th:object="${nota}" class="form-vertical  js-form-loading">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link active" id="cadastroNota-tab" data-toggle="tab" href="#cadastroNota" role="tab"
                        aria-controls="cadastroNota" aria-selected="false">Cadastro de notas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pdf-tab" data-toggle="tab" href="#pdf" role="tab" aria-controls="pdf"
                        aria-selected="false">Arquivos - Notas</a>
                </li>
            </ul>
            <br /><br />
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade minHeighTabs active" id="cadastroNota" role="tabpanel"
                    aria-labelledby="cadastroNota-tab">
                    <div class="container-fluid">
                        <div th:object="${nota.cadastroNota}">
                            <div class="row">
                                <div hidden class="col-sm-2  form-group" th:classappend="${#fields.hasErrors('id')} ? has-error">
                                    <label for="id" class="control-label">Id</label> 
                                    <input id="id" type="text" class="form-control" th:field="*{id}" />
                                </div>
                                <div class="col-sm-2  form-group" th:classappend="${#fields.hasErrors('numChamado')} ? has-error">
                                    <label for="numChamado" class="control-label">Numero do chamado</label> 
                                    <input id="numChamado" disabled type="text" class="form-control" th:field="*{numChamado}" />
                                </div>
                                <div class="col-sm-2  form-group" th:classappend="${#fields.hasErrors('tipoChamado')} ? has-error">
                                    <label for="tipoChamado" class="control-label">Tipo do chamado</label> 
                                    <input id="tipoChamado" disabled type="text" class="form-control" th:field="*{tipoChamado}" />
                                </div>
                                <div class="col-sm-6  form-group" th:classappend="${#fields.hasErrors('contrato')} ? has-error">
                                    <label for="contrato" class="control-label">Contrato</label> 
                                    <input id="contrato" type="text" class="form-control" th:field="*{contrato}" />
                                </div>
                                <div class="col-sm-6  form-group" th:classappend="${#fields.hasErrors('contratada')} ? has-error">
                                    <label for="contratada" class="control-label">Contratada</label> 
                                    <input id="contratada" type="text" class="form-control" th:field="*{contratada}" />
                                </div>
                                <div class="col-sm-2  form-group" th:classappend="${#fields.hasErrors('gerencia')} ? has-error">
                                    <label for="gerencia" class="control-label">Gerência</label> 
                                    <input id="gerencia" type="text" class="form-control" th:field="*{gerencia}" />
                                </div>
                                <div class="col-sm-2  form-group" th:classappend="${#fields.hasErrors('campoTexto')} ? has-error">
                                    <label for="campoTexto" class="control-label">Campo texto</label> 
                                    <input id="campoTexto" type="text" class="form-control" th:field="*{campoTexto}" />
                                </div>
                                <div class="col-sm-4  form-group" th:classappend="${#fields.hasErrors('mandadoJudicial')} ? has-error">
                                    <label for="mandadoJudicial" class="control-label">Mandado judicial</label> 
                                    <input id="mandadoJudicial" type="text" class="form-control" th:field="*{mandadoJudicial}" />
                                </div>
                                <div class="col-sm-4  form-group" th:classappend="${#fields.hasErrors('fiscalAdm')} ? has-error">
                                    <label for="fiscalAdm" class="control-label">Fiscal administrador</label> 
                                    <input id="fiscalAdm" type="text" class="form-control" th:field="*{fiscalAdm}" />
                                </div>
                                <div class="col-sm-4  form-group" th:classappend="${#fields.hasErrors('email')} ? has-error">
                                    <label for="email" class="control-label">E-mail</label> 
                                    <input id="email" type="text" class="form-control" th:field="*{email}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade minHeighTabs" id="pdf" role="tabpanel" aria-labelledby="pdf-tab">
                    <div class="container-fluid">
                        <table class="table table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Localidade</th>
                                    <th class="text-center">CPF/CNPJ</th>
                                    <th class="text-center">Visualizar</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr th:each="pdf : ${nota.pdf}">
                                    <td><span th:text="${pdf.id}"></span></td>
                                    <td><span th:text="${pdf.localidade}"></span></td>
                                    <td><span th:text="${pdf.cnpj}"></span></td>
                                    <td><a class="waves-effect waves-light btn-small" th:href="@{/visualizarPdfNotaRealizada(id = ${pdf.id})}"><i class="material-icons left"><span class="glyphicon glyphicon-eye-open text-warning"></span></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="pull-left">
                        <a href="/notasRealizadas" type="button" class="btn">Voltar</a>
                    </div>
                    <br /><br />
                </div>     
            </div>
        </form>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script>
            $(function () {
                $('#myTab li:last-child a').tab('show');
                $('#myTab li:first-child a').tab('show');
            })
        </script>
    </section>
</body>
</html>