<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/LayoutPadrao}">

    <head>
        <title>Adicionar cronograma</title>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <form method="POST" action="/saveCronograma" th:object="${newCronograma}" class="form-vertical  js-form-loading">
                <br /><br />
                <div class="container-fluid">
                    <div th:object="${newCronograma}">
                        <div class="row">
                            <div hidden class="col-sm-2  form-group" th:classappend="${#fields.hasErrors('id')} ? has-error">
                                <label for="id" class="control-label">Id</label> 
                                <input id="id" type="text" class="form-control" th:field="*{id}" />
                            </div>
                            <div class="col-sm-2  form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
                                <label for="nome" class="control-label">Nome do cronograma</label> 
                                <input id="nome" disabled type="text" class="form-control" th:field="*{nome}" />
                            </div>
                            <div class="col-sm-4  form-group" th:classappend="${#fields.hasErrors('receptor')} ? has-error">
                                <label for="receptor" class="control-label">Ip do recptor</label> 
                                <input id="receptor" disabled type="text" class="form-control" th:field="*{receptor}" />
                            </div>
                            <div class="col-sm-6  form-group" th:classappend="${#fields.hasErrors('robo')} ? has-error">
                                <label for="robo" class="control-label">JAR do robô</label> 
                                <input id="robo" type="text" class="form-control" th:field="*{robo}" />
                            </div>
                            <div class="col-sm-6  form-group" th:classappend="${#fields.hasErrors('data_inicio')} ? has-error">
                                <label for="data_inicio" class="control-label">Data de início</label> 
                                <input id="data_inicio" type="text" class="form-control" th:field="*{data_inicio}" />
                            </div>
                            <div class="col-sm-2  form-group" th:classappend="${#fields.hasErrors('hora_inicio')} ? has-error">
                                <label for="hora_inicio" class="control-label">Hora de início</label> 
                                <input id="hora_inicio" type="text" class="form-control" th:field="*{hora_inicio}" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="pull-left">
                        <button class="btn" type="submit">Salvar</button>
                        <a href="/cronogramas" type="button" class="btn">Cancelar</a>
                    </div>
                </div>
                <br /><br />
            </form>
        </section>
    </body>
</html>