<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/LayoutPadrao}">

    <head>
        <title>Notas aprovadas</title>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="page-header">
                <div class="container-fluid">
                    <h1>Notas aprovadas</h1>
                </div>
            </div>
            <div class="container-fluid">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Nome</th>
                            <th class="text-center">Receptor</th>
                            <th class="text-center">Data início</th>
                            <th class="text-center">Hora início</th>
                            <th class="text-center">Editar</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr th:each="cronogramaExecutando : ${cronogramasExecutando}">
                            <td><span th:text="${cronogramaExecutando.id}"></span></td>
                            <td><span th:text="${cronogramaExecutando.nome}"></span></td>
                            <td><span th:text="${cronogramaExecutando.receptor}"></span></td>
                            <td><span th:text="${cronogramaExecutando.data_inicio}"></span></td>
                            <td><span th:text="${cronogramaExecutando.hora_inicio}"></span></td>
                            <td><a class="waves-effect waves-light btn-small" th:href="@{/visualizarCronogramaExecutando(id = ${cronogramaExecutando.id})}"><i class="material-icons left"><span class="glyphicon glyphicon-eye-open text-warning"></span></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </body>
</html>